<div class="add-invoice">
  <div class="row subtitle">
    <div class="col-md-12 ">
      <strong> <i>Adicionar nota</i></strong>
    </div>
  </div>
  <div class="row fields">
    <div class="col-md-12">
      <mat-form-field class="full-width">
        <input matInput placeholder="LOJA" value="---">
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="full-width">
        <input matInput placeholder="NO DA NOTA" value="---">
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field class="full-width">
        <input type="date" matInput placeholder="DATA DA NOTA" value="---">
      </mat-form-field>
    </div>
    <div class="col-md-4">
      <mat-form-field class="full-width">
        <input matInput placeholder="FORMA DE PAGAMENTO" value="---">
      </mat-form-field>
    </div>
    <div class="col-md-2">
      <mat-form-field class="full-width">
        <input matInput placeholder="VALOR" value="---">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-6">
          <button type="button" class="btn btn-light">Cancelar</button>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-primary">Adicionar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="confirm-invoice">
  <div class="row subtitle">
    <div class="col-md-12 ">
      <strong> <i>Cadastrar notas</i></strong>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-responsive">
        <tr>
          <th>LOJA</th>
          <th>NO DA NOTA</th>
          <th>DATA DA NOTA</th>
          <th>CADASTRO</th>
          <th>VALOR</th>
          <th></th>
        </tr>
        <tr>
          <td>---</td>
          <td>---</td>
          <td>---</td>
          <td>---</td>
          <td>---</td>
          <td><span class="glyphicon glyphicon-option-vertical"></span></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9"></div>
    <div class="col-md-3">
      <div class="row">
        <div class="col-md-6">
          <button type="button" class="btn btn-light">Cancelar</button>
        </div>
        <div class="col-md-6">
          <button type="button" class="btn btn-primary">Adicionar</button>
        </div>
      </div>
    </div>
  </div>
</div>
