<div class="sidebar"  >
  <div class="row">
    <div class="col-md-12">
      <div class="search-container">
        <form class="navbar-form" role="search">
          <div class="header">
            <div class="row" style="height: 100%">
              <div class="col-md-10 col-sm-6" style="padding: 0; height: 100%;">
                <div class="form-group full-field">
                  <input #myinput type="text" class="form-control full-field" placeholder="Search" (input) ="filterItem($event)">
                </div>
              </div>
              <div class="col-md-2 col-sm-6 full-field" style="padding: 0;">
                <div class="form-group full-field">
                  <a href='#' class="btn search-button full-field"><span class="glyphicon glyphicon-search"></span></a>
                </div>
              </div>
            </div>
          </div>

        </form>
      </div>
    </div>

    <div class="col-md-12">
      <app-result-list [clients]="filteredItems"></app-result-list>
    </div>
  </div>
</div>
